*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Inicio Barra Superior y Navbar */
#barra_superior{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    background-color: #1CD1B0;
    padding: 10px;
}

#barra_inferior{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    background-color: #00669F;
}

#texto_superior{
    margin-top:  5px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: bolder;

}

h2{
    margin-top:  15px;
    margin-left: 25px;
    color: white;
}

ul {
    display: flex;
    justify-content: flex-end;
    background-color: #001D2D;
}

li {
    padding: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}
/* Fin Navbar */

/* Inicio Formulario */

.container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width: 100%;
    height: 620px;
    margin-top: 30px;
    position: relative;
}

.titulo-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    margin-left: 15px;
    font-size: 35px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.input-group{
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    height: 30%;
}

textarea{
    width: 90%;
    height: 150px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
}

#color-enviar:hover{
    background-color: rgb(16, 117, 250);  
    color:white;  
}

#color-reset:hover{
    background-color: rgb(154, 173, 197); 
    color: black;
}

textarea:focus{
    outline-style: none;
    border: 2px solid orange;
}

.button{
    display: flex;
}

.button-group{
    width: 40%;
    margin: 15px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

#color-reset{
    color: white;
    background-color: #888888;
}

#color-enviar{
    font-weight: bold;
    background-color: #1CD1B0;    
}
/* Fin Formulario */

/* Inicio Footer */
#footer_pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #00669F;
    width: 100%;
    height: 100px;
}

#texto_footer{
    color: white;
    font-weight: bold;
}

#texto_Github{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    padding-left: 10px;
}

#texto_Git{
    margin-right: 0%;
}

.input-group:focus{
    outline-style: none;
    border: 2px solid orange;
}

 */ Fin Footer */